kb.bin
sc-machine
scp-machine
sc-web
sc-component-manager
ims.ostis.kb
geometry.drawings
web-scn-editor
prepared_kb
bin
build

*.*~
.idea
__pycache__
.vscode

# texstudio
*.aux
*.bcf
*.idx
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz

*.db
*.txt
