kb.bin
sc-machine
scp-machine
sc-web
ims.ostis.kb_copy
geometry.drawings
web-scn-editor
prepared_kb
build
bin
.cache

*.*~
.idea
__pycache__

# texstudio
*.aux
*.bcf
*.idx
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz

