sc-machine
scp-machine
sc-component-manager
sc-web
ims.ostis.kb

kb.bin
bin
build

*.*~
.idea
__pycache__
.vscode

# texstudio
*.aux
*.bcf
*.idx
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz

*.db
*.txt
