<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="vcredist2012" />
    <package id="vcredist2013" />
    <package id="git" version="2.6.2" />
    <package id="cmake" />
    <package id="python2" />
    <package id="redis-64" version="2.8.2402"/>
    <package id="jdk7" />
</packages>