name: CI

on:
  pull_request:
    branches: [ develop, main, release/** ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Update
        run: |
          sudo apt-get update

      - name: Restore build caches
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}

      - name: Preparing platform
        run: |
          cd scripts
          ./prepare.sh
